<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703059723550-kpkfa2mi3e8dtr5hhae5mbbr0e14teka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703059723550-kpkfa2mi3e8dtr5hhae5mbbr0e14teka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703059723550-j2o9b8ii4c6dt6k9het29r030747jq46.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkdh0Zk5h0sAKgZMm2fZ5_vRBoUYDTGS8</string>
	<key>GCM_SENDER_ID</key>
	<string>703059723550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedalaholdings.astrolog</string>
	<key>PROJECT_ID</key>
	<string>astronomy-log-book</string>
	<key>STORAGE_BUCKET</key>
	<string>astronomy-log-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703059723550:ios:9c9e3749ce6bc3da22750f</string>
</dict>
</plist>