<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703059723550-uklqrd49qjscdavti1ink1ol7uqbdf15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703059723550-uklqrd49qjscdavti1ink1ol7uqbdf15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703059723550-ug36q8ddotrr5kd73h6m7nidrp87d0ee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkdh0Zk5h0sAKgZMm2fZ5_vRBoUYDTGS8</string>
	<key>GCM_SENDER_ID</key>
	<string>703059723550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedala.holdings.astro-log</string>
	<key>PROJECT_ID</key>
	<string>astronomy-log-book</string>
	<key>STORAGE_BUCKET</key>
	<string>astronomy-log-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703059723550:ios:2a9c99071bbc8d9a22750f</string>
</dict>
</plist>